.fadeout-enter {
  opacity: 0;
  transition: opacity 1.5s;
}

.fadeout-enter-active {
  transition: opacity 1.5s;
}

.fadeout-leave-active {
  transition: opacity .2s;
}

// styling inside of navbar top
.jNavBar .dropdown-item:focus {
  border: 0;
  outline-color: $white-basic-color;
}
@media only screen and (min-width: 856px) {
  .jNavBar .nav-link[aria-expanded='true'] {
    height: 100%;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $grey-sample;
}

// styling inside of sidebar
#sidebar-wrapper {
  .slide-left-leave-active,
  .slide-left-enter-active {
    transition: .2s ease-in-out;
  }

  .slide-right-leave-active,
  .slide-right-enter-active {
    transition: .2s ease-in-out;
  }

  .icon--blue-color.left-icon::before {
    color: $white-basic-color;
  }

  .router-link-exact-active.a--active {
    .icon--blue-color.left-icon::before {
      color: $blue-basic-color;
    }
  }
}
