<template>
  <div>
    <div>
      <j-title-header :options="options"/>
    </div>
  </div>
</template>

<script>
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';

export default {
  name: 'JHome',
  components: {
    jLoadingTable,
  },
  data() {
    return {
      options: {
        icon: 'fa-user',
        main_title: 'Challange Intern',
      },
    };
  },
};
</script>
