//css normalize box login
#login-html.login-html {
  background: url('http://qa-jojopro.jojonomic.id/assets/img/login/bg-login.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;

  .login-box {
    animation: fadein 2s;
    left: 20%;
    max-width: 385px;
    padding: 0 20px;
    position: relative;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;

    img {
      padding: 50px;
      width: 100%;
    }

    button {
      width: 100%;
    }

    //css normalize form email and password
    .b-form-group {
      height: 40px;
      margin-bottom: 5px;

      input[type='email'],
      input[type='password'],
      input[type='text'] {
        background-image: url('https://corp.jojonomic.com/assets/img/login/email.png');
        background-position: 23px center;
        background-repeat: no-repeat;
        background-size: 17px 17px;
        padding: 0 50px;
      }

      input[type='password'],
      input[type='text'] {
        background-image: url('https://corp.jojonomic.com/assets/img/login/password.png');
      }

      .form-control {
        border: 0;
        color: $grey-basic-color;
        height: 40px;
      }
    }

    //css normalize check-box show-password
    .custom-control {
      margin-bottom: 30px;

      .custom-control-label {
        color: $white-basic-color;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        padding: 2px 0;

        &::before {
          background: $white-basic-color;
          height: 20px;
          top: 1.5px;
          width: 20px;
        }

        &::after {
          height: 2px;
          left: -20px;
          top: 4px;
          transform: rotate(-45deg);
          transition: height .25s ease-out, transform .25s ease-out, width .25s ease-out;
          width: 2px;
        }

        &:hover::after {
          border-bottom: 2px solid $grey-sample2;
          border-left: 2px solid $grey-sample2;
          height: 8px;
          transition: height .25s ease-out, transform .25s ease-out, width .25s ease-out;
          width: 12px;
        }
      }
    }

    .custom-control .custom-control-input:checked ~ {
      .custom-control-label {

        &::after {
          border-bottom: 2px solid $grey-basic-color;
          border-left: 2px solid $grey-basic-color;
          height: 8px;
          left: -22px;
          top: 0;
          width: 25px;
        }
      }
    }

    //css normalize button login and register
    .row {
      margin-bottom: 10px;

      .btn-left {
        padding-right: 2px;

        .btn {
          background: $blue-sample;
          border: 0;
          border-radius: 4px;
          padding: 6px 12px;

          &:hover {
            background: darken($blue-sample, 20%);
          }

          &.disabled {
            cursor: not-allowed;

            &:hover {
              background: $blue-sample;
            }
          }
        }
      }

      .btn-right {
        padding-left: 2px;

        .btn {
          background: $grey-sample3;
          border: 0;
          border-radius: 4px;
          padding: 6px 12px;

          &:hover {
            background: darken($grey-sample3, 20%);
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .login-box {
      left: 50%;
    }
  }

  // other condition
  .error-input {
    background: $light-sample;
    border: 2px solid $red-sample !important;
  }

  // placeholder
  input#exampleInput1::placeholder,
  input#exampleInput2::placeholder {
    font-size: 14px;
    opacity: .5;
  }

  // forgot password
  .forgot_password {
    color: $blue-sample !important;
    font-size: 13px;
    transition: color .15s ease-in-out;

    &:hover {
      color: darken($blue-sample, 20%) !important;
      transition: color .15s ease-in-out;
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
}
